body {
     font-family: 'Inclusive Sans', sans-serif;;
    background-color: #EEEEEE;
    color: black;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border: 1px solid white;
    border-radius: 25px;
}
html{
    background-color: white;
}
header{
    background-color: #008eff;
    font-size: 3em;
    color: white;
    margin: inherit;
    margin-left: -20px;
    margin-right: -20px;
    padding: 10px;

}
.p-puesto{
    color: #008eff;
   
}
h4{
    margin-top: 0px;
   margin-bottom: 15px;
}
h3{
    color: black;
}
.img-perfil{
height: 150px;
width: 150px;
border-radius: 50%;
margin-top: -50px;

}

.a-download{
    background-color: transparent;
    width: 100%;
    color: black;
  
    text-align: right;
    display: block;
}
.a-download:hover{
    color:#008eff;
   
}
h1,h2{
    color: #008eff;
    font-size: 1.5em;
}
header {
    text-align: center;
}

header h1 {
    font-size: 3em;
}

header p {
    font-size: 2.2em;
}

section.informacion {
    display: flex;
    justify-content: space-between;
  
}

section.informacion > div {
    width: 48%;
}

section.informacion h2 {
    
    padding-bottom: 5px;
}

section.informacion ul {
    list-style: none;
    padding: 0;
}


section.habilidades ul {
    list-style: none;
    padding: 0;
}

section.habilidades li {
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 8px 16px;
    background-color: #d1cdcd;
    border-radius: 5px;
}

footer {
    text-align: center;
    margin-top: 50px;
    width: auto;
}

section.practicas{

    justify-content: left;
    list-style: none;
    padding: 0; 
}
section.practicas ul {
    list-style: none;
    padding: 0;
}
.a-mail{
    color: #008eff;
}
.mail{
    display: inline-block;
    color: black;
    font-size: 1.5em;
    padding: 5px 5px 5px 5px;
}


.phone{
    display: inline-block;
    color: black;
    font-size: 1.5em;
    padding: 5px 5px 5px 5px;
}
.p-footer{
    display:inline-block;
}