body {
     font-family: 'Inclusive Sans', sans-serif;;
    background-color: rgba(45, 41, 41, 0.393);
    color: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border: 0px solid white;
    border-radius: 25px;
}
html{
    background-color: black;
}
header{
    background-color: #f74820;
    font-size: 3em;
    color: white;
    margin: inherit;
    margin-left: -20px;
    margin-right: -20px;
    padding: 10px;

}
.p-puesto{
    color: #f74820;
   
}
h4{
    margin-top: 0px;
   margin-bottom: 15px;
}
h3{
    color: white;
}
.img-perfil{
height: 150px;
width: 150px;
border-radius: 50%;
margin-top: -50px;

}

.a-download{
    background-color: #f74820;
    width: 50%;
    color: white;
    text-decoration:none ;
    text-align: center;
    margin: 0 auto;
    padding: 5px 5px 5px 5px;
   position: relative;
   border-radius: 20px;
   display: block;
}
.a-download:hover{
    color:white;
    background-color: #dd5131;
   
}
h1,h2{
    color: #f74820;
    font-size: 1.5em;
}
header {
    text-align: center;
}

header h1 {
    font-size: 3em;
}

header p {
    font-size: 2.2em;
}

section.informacion {
    display: flex;
    justify-content: space-between;
  
}

section.informacion > div {
    width: 48%;
}

section.informacion h2 {
    
    padding-bottom: 5px;
}

section.informacion ul {
    list-style: none;
    padding: 0;
}


section.habilidades ul {
    list-style: none;
    padding: 0;
}

section.habilidades li {
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 8px 16px;
    background-color: #f74820;
    border-radius: 5px;
}

footer {
    text-align: center;
    margin-top: 50px;
    width: auto;
}

section.practicas{

    justify-content: left;
    list-style: none;
    padding: 0; 
}
section.practicas ul {
    list-style: none;
    padding: 0;
}
.a-mail{
    color: #008eff;
}
.mail{
    display: inline-block;
    color: white;
    font-size: 1.5em;
    padding: 5px 5px 5px 5px;
}


.phone{
    display: inline-block;
    color: white;
    font-size: 1.5em;
    padding: 5px 5px 5px 5px;
}
.p-footer{
    display:inline-block;
}
@media (max-width: 550px) {
    section.informacion > div {
        width: 100%;
        display: contents;
    }
    section.informacion {
        width: 100%;
        display: contents;
    }
    header{
        background-color: #f74820;
        font-size: 2.5em;
        color: white;
        
    
    }
  
  }